:root {
  --primary: #D81E58;
  --secondary: #8A4EFC;
  --light: #EEE;
  --light-alt: #61759b;
  --dark: #131A26;
  --dark-alt: #202B3E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--dark-alt);
  color: var(--light);
  padding: 32px;
  height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
}

h4 {
  font-size: 18px;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}

.input {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 16px;
}


.todo {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 16px;
}

.todo:hover {
  opacity: 0.6;
}

.todo input {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.delete-button {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  color: var(--light);
  background-color: #d62f31;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}




